---
layout: default
---

<h3>PUBLICATIONS</h3>

<div class="spacer50"></div>

<div class="row label">
  <div class="col-lg-3">
    <p>
      <img class="icon" src="image\Theoretical.svg" /> &nbsp;
      <span style="font-weight: 500">Theoretical Linguistics</span>
    </p>
  </div>
  <div class="col-lg-3">
    <p>
      <img class="icon" src="image\experiment.svg" /> &nbsp;
      <span style="font-weight: 500">Experimental Methods</span>
    </p>
  </div>
  <div class="col-lg-3">
    <p>
      <img class="icon" src="image\Computational.svg" /> &nbsp;
      <span style="font-weight: 500">Computational Modeling</span>
    </p>
  </div>
</div>

{% if site.data.accepted and site.data.accepted.size > 0 %}
<div class="spacer50"></div>

<h4>Accepted</h4>

<!-- accepted paper -->
<div>
  {% for accepted in site.data.accepted %}
  <div class="spacer50" id=""></div>
  <h5>{{accepted.year}}</h5>
  <hr id="{{accepted.uniqueId}}" />
  <div class="row submitted_content">
    <div class="col-lg-2">
      <img class="icon" src="{{accepted.label1}}" />
      <img class="icon" src="{{accepted.label2}}" />
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <p id="content">
        <span id="author">{{accepted.author}}</span>
        <span id="title">{{accepted.title}}</span>
      </p>
      <div id="{{accepted.group}}">
        <p>
          {% if accepted.abstract %}
          <a
            class="btn btn-outline-secondary"
            id="button"
            data-bs-toggle="collapse"
            href="{{accepted.ahref}}"
            role="button"
            aria-expanded="false"
            aria-controls="{{accepted.aria-controls1}}"
          >
            Abstract
          </a>
          {% endif %}

          {% if accepted.BibTeX %}
          <a
            class="btn btn-outline-secondary"
            id="button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="{{accepted.data-bs-target}}"
            aria-expanded="false"
            aria-controls="{{accepted.aria-controls2}}"
          >
            BibTeX
          </a>
          {% endif %}

          {% if accepted.PDF %}
          <a
            href="{{accepted.PDF}}"
            class="btn btn-outline-secondary"
            id="button"
            type="button"
          >
            PDF
          </a>
          {% endif %}
        </p>

        <div class="accordion-group">
          {% if accepted.abstract %}
          <div
            class="collapse"
            id="{{accepted.aria-controls1}}"
            data-bs-parent="{{accepted.groupId}}"
          >
            <div class="card card-body">
              <p>{{accepted.abstract}}</p>
            </div>
          </div>
          {% endif %}

          {% if accepted.BibTeX %}
          <div
            class="collapse"
            id="{{accepted.aria-controls2}}"
            data-bs-parent="{{accepted.groupId}}"
          >
            <div class="card card-body">
              <pre>{{accepted.BibTeX}}</pre>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}


<div class="spacer50"></div>

<h4>Published</h4>

<!-- 2022 paper -->
<div>
  {% for publication in site.data.publications %}
  <div class="spacer50" id=""></div>
  <h5>{{publication.year}}</h5>
  <hr id="{{publication.uniqueId}}" />
  <div class="row publication_content">
    <div class="col-lg-2">
      <img class="icon" src="{{publication.label1}}" />
      <img class="icon" src="{{publication.label2}}" />
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <p id="content">
        <span id="author">{{publication.author}}</span
        ><span id="title">{{publication.title}}</span>
      </p>
      <div id="{{publication.group}}">
        <p>
        {% if publication.abstract %}
        <a
          class="btn btn-outline-secondary"
          id="button"
          data-bs-toggle="collapse"
          href="{{publication.ahref}}"
          role="button"
          aria-expanded="false"
          aria-controls="{{publication.aria-controls1}}"
        >
          Abstract
        </a>
        {% endif %}
        {% if publication.BibTeX %}
          <a
            class="btn btn-outline-secondary"
            id="button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="{{publication.data-bs-target}}"
            aria-expanded="false"
            aria-controls="{{publication.aria-controls2}}"
          >
            BibTeX
          </a>
          {% endif %}
          <a
            href="{{publication.PDF}}"
            class="btn btn-outline-secondary"
            id="button"
            type="button"
            >PDF</a
          >
        </p>
        <div class="accordion-group">
          <div
            class="collapse"
            id="{{publication.aria-controls1}}"
            data-bs-parent="{{publication.groupId}}"
          >
            <div class="card card-body">
              <p>{{publication.abstract}}</p>
            </div>
          </div>
          <div
            class="collapse"
            id="{{publication.aria-controls2}}"
            data-bs-parent="{{publication.groupId}}"
          >
            <div class="card card-body">
              <pre>{{publication.BibTeX}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="spacer100"></div>
<script>
  //bold author name
  function boldString(str, find) {
    var re = new RegExp(find, "g");
    return str.replace(re, "<b>" + find + "</b>");
  }
  let author = document.querySelectorAll("#author"); //select author in html

  for (var i = 0; i < author.length; i++) {
    author[i].innerHTML = boldString(author[i].innerHTML, "Aparicio, H");
  } //render in html

  console.log(document.getElementById("removeHr"));
</script>
